.venv*/
ansible/.ansible/
ansible/.cache/
__pycache__/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.env
.DS_Store
loadtest/reports/**/locust*
loadtest/reports/**/request-times.csv
loadtest/reports/**/report.html
