# Managed by Ansible (role shortly_config). Manual edits will be overwritten.
HOME={{ deploy_home }}
KUBECONFIG={{ deploy_home }}/.kube/config
PATH=/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin
