# Managed by Ansible (role shortly_config). Manual edits will be overwritten.
BASE={{ project_base }}
NS={{ shortly_namespace }}
IMAGE={{ shortly_image }}
REGISTRY={{ registry }}
MINIKUBE_CPUS={{ minikube_cpus }}
MINIKUBE_MEM={{ minikube_memory }}
ADMIN_TOKEN={{ shortly_admin_token }}
