[defaults]
inventory = inventory/hosts.ini
roles_path = roles
stdout_callback = ansible.builtin.default
result_format = yaml
retry_files_enabled = False
interpreter_python = auto_silent
host_key_checking = True
deprecation_warnings = True
inject_facts_as_vars = False
local_tmp = /tmp/ansible-${USER}
collections_path = .ansible/collections

[ssh_connection]
pipelining = True
